.container {
  height: 93vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.inner-card {
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  color: #008542;
  font-weight: 600;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  font-size: 18px;
  font-weight: bold;
  background-color: #008542;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 20px 85px;
  margin-bottom: 5px;
  cursor: pointer;
}

.btn:hover {
  font-size: 18px;
  font-weight: bold;
  background-color: #008542;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 20px 85px;
  margin-bottom: 5px;
  cursor: pointer;
}
